.text-anim1 {
    color: black;
  }
.text-anim2 {
    color: rgb(76, 196, 172);
}
.text-anim3 {
    color: black;
}
.text-anim4 {
color: rgb(156, 220, 254);
}
.text-anim5 {
color: black;
}
.text-anim6 {
color: rgb(76, 196, 172);
}
.text-anim7 {
color: rgb(206, 145, 120);
}
.text-anim8 {
    color: black;
}
.text-anim9 {
    color: skyblue;
}
.text-anim10 {
    color: black;
}
.text-anim11 {
    color: rgb(76, 196, 172)
}
.text-anim12 {
    color: black;
}
